.top-container-4{
  background-color: #2a52be;
  padding-top: 10px;
}

.middle-container-4{
  text-align: center;
  padding: 50px 0 120px;
}
.bottom-container-4{
 background-color: #F8F8FF;
 padding: 100px 0 20px;
 text-align: right;
}
